<div class="container mt-5">
  <h2 class="mb-4 text-center">Book Flights</h2>

  <div class="row g-3">
    <div class="col-md-3">
      <input class="form-control" placeholder="From" />
    </div>

    <div class="col-md-3">
      <input class="form-control" placeholder="To" />
    </div>

    <div class="col-md-3">
      <input type="date" class="form-control" />
    </div>

    <div class="col-md-3">
      <button
        class="btn btn-primary w-100"
        routerLink="/flights"
      >
        Search
      </button>
    </div>
  </div>
</div>
